---
layout: default
title: Lechman Welding
description: Serving Northern Colorado and Weld County. Fabrication and repairs for trucks and trailers, farm equipment, drilling rigs, truck frame stretching, line boring, and aluminium welding.

---

<div class="content">
  <p>With shops in LaSalle and Sterling, Butch 'Jay' Lechman serves Northern Colorado and surrounding areas with over 30 years of fabrication experience.
  His work includes in shop and portable fabrication and repairs for the following:</p>

  <ul>
    <li>Trucks and trailers</li>
    <li>Farm equipment</li>
    <li>Drilling rigs</li>
    <li>Truck frame stretching</li>
    <li>Line boring</li>
    <li>Aluminium welding</li>
  </ul>

  <p>Contact Butch for your next project or repair, or for more information on
    the <a href="/commodity-box">Commodity Box</a>.
  </p>
  <p>Give him a call today at <tel>970-580-5269</tel>.</p>
</div>
